/sample.class
/FacultyStaff.class
/Course.class
/FalcutyStaff.class
/Student.class
/Candidature.class
/Semester.class
/Enrollment.class
/Grade.class
/Component.class
/Assessment.class
/LessonPlan.class
/Faculty.class
/Workload.class
/StudentGrade.class
/LessonType.class
/StudentInfo.class
